<aside class="hidden lg:flex w-64 flex-col fixed h-screen bg-blue-400 shadow-lg">
    <div class="flex items-center justify-center h-16 border-b">
      <h1 class="text-xl font-bold text-gray-800">Hotel Manager</h1>
    </div>
    <nav class="flex-1 overflow-y-auto">
      <ul class="py-4">
        <li class="px-6 py-3 hover:bg-gray-100">
          <a routerLink="/dashboard" class="flex items-center space-x-2">
            <fa-icon [icon]="faHouse"></fa-icon>
            <span class="mx-2">Dashboard</span>
          </a>
        </li>
        <li class="px-6 py-3 hover:bg-gray-100">
          <a routerLink="/roomtypes" class="flex items-center space-x-2">
            <fa-icon [icon]="faHotel"></fa-icon>
            <span class="mx-2">Room Types</span>
          </a>
        </li>
        <li class="px-6 py-3 hover:bg-gray-100">
          <a routerLink="/rooms" class="flex items-center space-x-2">
            <fa-icon [icon]="faBed"></fa-icon>
            <span class="mx-2">Rooms</span>
          </a>
        </li>
        <li class="px-6 py-3 hover:bg-gray-100">
          <a routerLink="/bookings/all" class="flex items-center space-x-2">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
            <span class="mx-2">Bookings</span>
          </a>
        </li>
      </ul>
    </nav>
</aside>